{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_details'|trans({'%id%': recipe.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.recipe_details'|trans({'%id%': recipe.id|default('')}) }}</h1>
    {% if recipe is defined and recipe|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ recipe.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ recipe.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ recipe.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ recipe.title }}</dd>
            <dt>{{ 'label.ingredients'|trans }}</dt>
            <dd>{{ recipe.ingredients }}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{ recipe.description }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{ recipe.category.title }}</dd>
        </dl>

        <p>
            <a href="{{ url('recipe_index') }}" title="{{ 'action.back'|trans }}">
                {{ 'action.back'|trans }}
            </a>
        </p>

        {% if recipe.comments is defined and recipe.comments|length %}
            <h4>{{ 'label.comments'|trans }}</h4>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{{ 'label.nick'|trans }}</th>
                    <th scope="col">{{ 'label.email'|trans }}</th>
                    <th scope="col">{{ 'label.content'|trans }}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>{{ 'label.actions'|trans }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for comment in recipe.comments %}
                    <tr>
                        <td>{{ comment.nick }}</td>
                        <td>{{ comment.email }}</td>
                        <td>{{ comment.content }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ url('comment_delete', {id: comment.id}) }}"
                                   title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}


    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.recipe_not_found'|trans
        } %}
    {% endif %}
{% endblock %}